form{
    border: solid 1px;
    border-radius: 16px;
    padding: 20px;

}
input{
    width: 300px;
    border-radius: 4px;
}
textarea{
    width: 300px;
}
button{
    width: 100%;
    border-radius: 8px;
    height: 50px;
    background-color: #7E7EFF;
    color: white;
    border: none;
}
h1{
    color: #7E7EFF;
    font-size: 36px;
}