<div class="d-flex flex-column align-items-center justify-content-center mt-4">
    <h1>Cadastrar Empresa</h1>
    <form [formGroup]="EmpresaForm" class="d-flex justify-content-center">
        <div>

            <div class="d-flex justify-content-between mb-3">
                <label class="p-1 me-4" for="user">Usuário: </label>
                <input type="text" formControlName="user" name="user">
            </div>
            <div class="d-flex justify-content-between mb-3">
                <label for="senha" class="p-1 me-4">Senha: </label>
                <input type="password" formControlName="senha" name="senha">
            </div>
            <div class="d-flex justify-content-between mb-3">
                <label class="p-1 me-4" for="nome">Nome: </label>
                <input type="text" formControlName="nome" name="nome">
            </div>
            <div class="d-flex justify-content-between mb-3">
              <label class="p-1 me-4" for="email">E-mail: </label>
              <input type="text" formControlName="email" name="email">
          </div>
            <div class="d-flex justify-content-between mb-3">
                <label class="p-1 me-4" for="cnpj">CNPJ: </label>
                <input type="text" formControlName="cnpj" name="cnpj">
            </div>
            <button (click)="Enviar()" type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
