<app-header></app-header>
<button class="mt-3 add-button" (click)="Adicionar()"><img src="assets/img/mais.png"></button>

<div class="d-flex justify-content-center">     
    <div>
        <h1>Empresas Cadastradas</h1>  
        <li *ngFor= "let empresa of empresas" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="title fw-bold">{{empresa.nome}}</div>
                <p>CNPJ: {{empresa.cnpj}}</p>
                    <button class="button me-3" (click)="Editar()">Editar</button>
                    <button class="button" (click)="Excluir(empresa.id)">Excluir</button>
               
            </div>
        </li> 
    </div>
    
</div>
